###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=8a8bbe2b50414d28742e295f870e470c
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
DATABASE_URL="mysql://dbuser:dbpass@dbdemo:3306/appdemo?serverVersion=5.7&charset=utf8mb4"
#DATABASE_URL="postgresql://dbuser:dbpass@db:5432/appdemo?serverVersion=13&charset=utf8"

###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^http?://(appdemo.test)?$dcd
###< nelmio/cors-bundle ###

###> REDIS ###
REDIS_HOST=redis
REDIS_PORT=
REDIS_PASSWORD=
###< REDIS ###

###> DOCKER ###
MYSQL_ROOT_PASSWORD=dbpass
MYSQL_DATABASE=appdemo
MYSQL_USER=dbuser
MYSQL_PASSWORD=dbpass
DOCKER_TIMEZONE="Europe/Madrid"
USER_ID=USERID
GROUP_ID=GROUPID
DEBUGMODE=1
FOSJSDUMP=1
PHP_IDE_CONFIG="serverName=app.test"
###< DOCKER ###

#API_ENTRY_POINT="http://appdemo.test/api"
API_ENTRY_POINT="http://appdemo.test/api"

###> symfony/mailer ###
#MAILER_DSN=smtp://localhost:25
# Mailtrap
# https://mailtrap.io/inboxes/1557502/messages/2508293310
#MAILER_DSN=smtp://1773ae4bcecce3:8c67872eca541b@smtp.mailtrap.io:2525?encryption=tls&auth_mode=login
MAILER_DSN=smtp://127.0.0.1:25
#MAILER_DSN=smtp://mailer:1025
###< symfony/mailer ###

###> symfony/webapp-meta ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/webapp-meta ###
###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=doctrine://default
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
###< symfony/messenger ###

###> LDAP konexiorako datuak ###
LDAP_IP=XXX.XXX.XXX.XXX
LDAP_BASE_DN=DC=DOMAIN,DC=net
LDAP_SEARCH_DN=CN=USER,CN=Users,DC=pasaia,DC=net
LDAP_PASSWD=PASSWD
LDAP_ADMIN_TALDEAK="ROL_GROUP" # adibidea => 'Rol-taldea1, Rol-taldea2'
LDAP_KUDEATU_TALDEAK="ROL_GROUP" # adibidea => 'Rol-taldea1, Rol-taldea2'
LDAP_USER_TALDEA="ROL_GROUP" # adibidea => 'Rol-taldea1, Rol-taldea2'
###< LDAP konexiorako datuak ###
auth_clientId='testclient'
auth_clientSecret='testpass'
auth_redirectUri='http://localhost:8080/callback'
auth_authServer='http://localhost:8000/authorize'
auth_tokenServer='http://localhost:8000/token'
auth_jwksUri='http://localhost:8000/.well-known/jwks.json'
auth_apiUri='http://localhost:8000/api/test'